<h1> CART </h1>
<h2> Cart ID: {{cart.id}} </h2>

<div class="contenedor" >
{{#each cart.products}}
    <div class="tarjeta">
        <h3>ID: {{id}} </h3>
        <h3>Cantindad: {{quantity}} </h3>
        <a href="/api/carts/update-product-in-cart/{{id}}" class="boton-generico"> Update quantity </a>
        <a href="/api/carts/delete-product-in-cart/{{id}}" class="boton-generico"> Delete </a>
    </div>
{{/each}}
</div>


<br>
<br>
<button id="clear-button" data-id="{{cart.id}}" class="boton-generico" > Clear Cart</button>
<a href="/api/products" class="boton-generico"> Products </a>


<form action="/api/carts/{{cart.id}}/purchase" method="POST">
    <button type="submit" class="boton-generico"> Buy CART </button>
</form>