<h3> Seach product by ID</h3>
<div> Product ID: {{product.id}} </div>
<ul>
    <li> Title: {{product.title}} </li>
    <li> Description: {{product.description}} </li>
    <li> Price: ${{product.price}} </li>
    <li> Thumbnail: {{product.thumbnail}} </li>
    <li> Stock: {{product.stock}} u. </li>
    <li> Category: {{product.category}} </li>
    <li> code: {{product.code}} </li>
    <li> owner: {{product.owner}} </li>

</ul>

<a href="/"> Home </a>
<a href="/api/products"> Products </a>