<h1> PRODUCTS </h1>
<h3> Current Page: {{products.page}} </h3>
<h3> Total pages: {{products.totalPages}} </h3>

<div class="contenedor">
    {{#each products.docs}}
    <div class="tarjeta">
        <h3> Title: {{title}} </h3>
        <h4> Description: {{description}} </h4>
        <h4> Price: ${{price}} </h4>
        <h4> Stock: {{stock}}u. </h4>
        <h5> Email: {{email}} </h5>
        <h5> Category: {{category}} </h5>

        <a href="/add-product/{{id}}" class="boton-generico"> Añadir al carrito </a>
    </div>
    {{/each}}
</div>

{{#if products.hasPrevPage}}
<a href="/api/products?page={{products.prevPage}}&limit={{products.limit}}"  class="boton-generico"> Prev </a>
{{/if}}

{{#if products.hasNextPage}}
<a href="/api/products?page={{products.nextPage}}&limit={{products.limit}}"  class="boton-generico"> Next </a>
{{/if}}


<h4> To upload a product Image, go to: "/upload-product-images/:pid"</h4>
<a href="/" class="boton-generico"> Home </a>