<h1> My Profile </h1>
<div>
    <h2> ¡Bienvenido/a: {{user.firstName}} {{user.lastName}}! </h2>
    <h3> Datos del perfil: </h3>
    <div>Edad: {{user.age}} </div>
    <div> Email: {{user.email}} </div>
    <div> Rol: {{user.role}} </div>
</div>


<a href="/"> Home </a>