<h1> USERS </h1>

{{#each users.docs}}
<div class="caja">
    <h4> ID: {{id}} </h4>
    <h4> First name: {{firstName}} </h4>
    <h4> Last name: {{lastName}} </h4>
    <h5> Age: {{age}} </h5>
    <h5> Email: {{email}} </h5>
    <h5> Cart: {{cart}} </h5>
    <h5> Role: {{role}} </h5>
    <h5> Last connection: {{last_connection}} </h5>
    <dv>
        documents: {{documents}}
    </dv>

    <button class="delete-button" data-id="{{id}}" > Delete </button>
    <button class="role-button" data-id="{{id}}" > Switch Role </button>
</div>
{{/each}}



{{#if users.hasPrevPage}}
<a class="boton-generico" href="/users?page={{users.prevPage}}&limit={{users.limit}}"> Prev </a>
{{/if}}

{{#if users.hasNextPage}}
<a href="/users?page={{users.nextPage}}&limit={{users.limit}}" class="boton-generico"> Next </a>
{{/if}}

{{!-- <button onclick="deleteOldUsers()">Eliminar Usuarios Antiguos</button> --}}
