<h1> USERS </h1>

{{#each users.docs}}
<div class="caja">
    <h2> First name: {{firstName}} </h2>
    <h2> Last name: {{lastName}} </h2>
    <h3> Age: {{age}} </h3>
    <h3> Email: {{email}} </h3>
    <h4> Cart: {{cart}} </h4>
    <h4> Role: {{role}} </h4>
    <h4> Last connection: {{last_connection}} </h4>
    <div>
        documents: {{documents}}
    </div>
</div>
{{/each}}



{{#if users.hasPrevPage}}
<a class="boton-generico" href="/users?page={{users.prevPage}}&limit={{users.limit}}"> Prev </a>
{{/if}}

{{#if users.hasNextPage}}
<a href="/users?page={{users.nextPage}}&limit={{users.limit}}" class="boton-generico"> Next </a>
{{/if}}

<button onclick="deleteOldUsers()">Eliminar Usuarios Antiguos</button>
